.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-image: url('black.jpg');
    background-color: #042f4b;
    margin: 0;
}

h1 {
    margin: 30px;
    
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #e2bb21;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #e2bb21;
    
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: #e2bb21;
    
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}
.img1{
    padding: auto;
    width: 100px;
    height: 100px;
}
.current {
    padding: auto;
    width: 150px;
    height: 150px;
    background-color: black;
}
.score {
    padding: auto;
    width: 75px;
    height: 65px;
    background-color: black;
}
h2 {
    margin: 20px;
    
    text-shadow: 5px 0 #232931;
    font-size: 2.5rem;
    color: #e2bb21;
    text-align: center;
}
